<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>Hello</header>
    <main>
        <div>
            <input type="text">
            <input type="button" value="join room">
        </div>
        <div>
            <input type="button", value="create a playlist">
        </div>
    </main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</body>
</html>